<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobynsWhiskerTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RobynsWhiskerTracker.Properties.Settings>
            <setting name="NoseColorSetting" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Whisker1ColorSetting" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Whisker2ColorSetting" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Whisker3ColorSetting" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Whisker4ColorSetting" serializeAs="String">
                <value>LightSeaGreen</value>
            </setting>
            <setting name="Whisker5ColorSetting" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="Whisker6ColorSetting" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Whisker7ColorSetting" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Whisker8ColorSetting" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="Whisker9ColorSetting" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="Whisker10ColorSetting" serializeAs="String">
                <value>RosyBrown</value>
            </setting>
            <setting name="OrientationColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SeenLicense" serializeAs="String">
                <value>False</value>
            </setting>
        </RobynsWhiskerTracker.Properties.Settings>
    </userSettings>
</configuration>